{% include '_partials/overlay/bar' %}

<div id="overlay-menu">

    <a href="#" id="overlay-menu-close" class="close-overlay"><i class="fas fa-fw fa-times"></i></a>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <a id="logo" href="{{ siteUrl }}" title="Home" onClick="recordEvent('Navigation', 'Click', 'Logo');">
                            <img src="/skin/logo.svg" alt="{{ siteName }} Logo" class="img-responsive"/>
                        </a>
                    </div>
                </div>
                <nav>
                    <ul>
                        {% cache %}
                            {% nav page in craft.entries.section('pages').showInNavigation(true).level('<= 2').all() %}
                                <li class="{{ entry is defined and page.id == entry.id ? 'current' : (entry is defined and page.isParentOf(entry) ? 'parent-current') }}">
                                    <a href="{{ page.url }}">{{ page.title }} {% if page.getDescendants().showInNavigation(true)|length %}
                                            <span><i class="fas fa-fw fa-plus"></i></span>{% endif %}</a>
                                    {% ifchildren %}
                                        <ul>
                                            {% children %}
                                        </ul>
                                    {% endifchildren %}
                                </li>
                            {% endnav %}
                        {% endcache %}
                    </ul>
                </nav>
                <a href="/contact" class="c-button c-button--clear">Contact</a>
            </div>
        </div>
    </div>

</div>
