{% import '_includes/utils' as utils %}

{% set image = block.gridBlockImage.first() %}

<div class="c-grid-block">
    <div class="row show-grid">
        <div class="col-md-6">
            <img class="c-grid-block__image" src="{{ image.url }}" alt="{{ block.gridBlockTitle }}" />
        </div>
        <div class="col-md-6">
            <div class="c-grid-block__content">
                {% if block.gridBlockTitle %}
                <h2>{{ block.gridBlockTitle }}</h2>
                {% endif %}

                {% if block.gridBlockText %}
                {{ block.gridBlockText }}
                {% endif %}

                {% if block.gridBlockLink.link %}
                {% set gridBlockLinkAttributes = {
                    class: 'c-grid-block__button c-button c-button--purple c-button--large u-display-inline-block',
                } %}
                {{ block.gridBlockLink.link(gridBlockLinkAttributes ) }}
                {% endif %}

            </div>
        </div>
    </div>
</div>
